* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}

.section1 {
  width: 100%;
  height: 100vh;
  background-image: url(wp4127394-dell-logo-wallpapers.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.section1 hr {
  height: 1px;
}
.section1 .menu {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}
.section1 .menu .top {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.section1 .menu .top .phone {
  display: flex;
  font-size: 10px;
  align-items: center;
}
.section1 .menu .top .phone i {
  margin-right: 5px;
}
.section1 .menu .top button {
  padding: 5px 15px;
  background-color: rgb(169, 132, 255);
  border-radius: 10px;
  color: white;
  transition: 0.5s;
  border: 1px solid rgb(169, 132, 255);
}
.section1 .menu .top button:hover {
  background: transparent;
  border: 1px solid white;
}
.section1 .menu .center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section1 .menu .center h2 {
  width: 50%;
}
.section1 .menu .center ul.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.section1 .menu .center ul.menu li a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.section1 .menu .center ul.menu li a:hover {
  color: rgb(136, 45, 255);
}
.section1 .menu .bottom {
  width: 50%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 5px black;
}
.section1 .menu .bottom h1 {
  font-size: 50px;
  background-color: rgba(128, 128, 128, 0.527);
  color: rgb(119, 119, 119);
  margin: 30px 0;
}
.section1 .menu .bottom h4 {
  font-size: 30px;
}
.section1 .menu .bottom p {
  text-align: center;
  margin-bottom: 30px;
}
.section1 .menu .bottom .bottom-button button.child1 {
  padding: 8px 18px;
  background-color: rgb(169, 132, 255);
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(169, 132, 255);
  transition: 0.5s;
}
.section1 .menu .bottom .bottom-button button.child1:hover {
  background-color: transparent;
  border: 1px solid white;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
.section1 .menu .bottom .bottom-button button.child2 {
  padding: 8px 18px;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.5s;
  margin-left: 10px;
  text-shadow: 0 0 5px black;
}
.section1 .menu .bottom .bottom-button button.child2:hover {
  background-color: rgb(169, 132, 255);
  border: 1px solid rgb(169, 132, 255);
}

.section2 {
  width: 100%;
  height: 70vh;
}
.section2 .text {
  width: 65%;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2 .text .card-text {
  width: 100%;
  height: 20%;
}
.section2 .text .card-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.section2 .text .blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section2 .text .blocks .card {
  width: 250px;
  height: 340px;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section2 .text .blocks .card i {
  font-size: 40px;
  color: rgb(61, 61, 61);
}
.section2 .text .blocks .card h3 {
  margin: 10px 0;
}
.section2 .text .blocks .card p {
  text-align: center;
  margin: 0 10px;
}
.section2 .text .blocks .card button {
  padding: 5px 15px;
  margin: 25px 0;
  border-radius: 10px;
  border: 1px solid rgb(169, 132, 255);
  background-color: rgb(169, 132, 255);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.section2 .text .blocks .card button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.section3 {
  width: 100%;
  height: 70vh;
  background-image: url(wp4127394-dell-logo-wallpapers.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.section3 .container {
  width: 65%;
  height: 80%;
  margin: 0 auto;
  border-radius: 40px 0 40px 0;
  background-color: white;
}
.section3 .container .top {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.section3 .container .bottom {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.section3 .container .bottom .left {
  width: 50%;
}
.section3 .container .bottom .left .left-text {
  font-size: 15px;
}
.section3 .container .bottom .left .text {
  display: flex;
  height: 30%;
  align-items: center;
}
.section3 .container .bottom .left .text:hover .icon i {
  color: white;
  background-color: rgb(98, 0, 255);
}
.section3 .container .bottom .left .text:nth-child(2) {
  margin: 15px 0;
}
.section3 .container .bottom .left .text .icon i {
  font-size: 17px;
  margin-right: 40px;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 183, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(98, 0, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.section3 .container .bottom .right {
  width: 45%;
  border: 10px solid rgb(226, 226, 226);
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px black;
  background-image: url(wp4127394-dell-logo-wallpapers.png);
  background-repeat: no-repeat;
  color: white;
  font-size: 50px;
  text-align: center;
  transition: 0.5s;
}
.section3 .container .bottom .right:hover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 .container .bottom .right:hover i {
  opacity: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 255, 0.295);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 130px;
}
.section3 .container .bottom .right i {
  opacity: 0;
  transition: 0.5s;
  padding-top: 130px;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */